@font-face {
    font-family: "vdm";
    src: url("./vdm.eot?111b131ca468f50990520689ea3e3e1e?#iefix") format("embedded-opentype"),
url("./vdm.woff2?111b131ca468f50990520689ea3e3e1e") format("woff2"),
url("./vdm.woff?111b131ca468f50990520689ea3e3e1e") format("woff"),
url("./vdm.ttf?111b131ca468f50990520689ea3e3e1e") format("truetype"),
url("./vdm.svg?111b131ca468f50990520689ea3e3e1e#vdm") format("svg");
}

.vdm {
    line-height: 1;
}

.vdm:before {
    font-family: vdm !important;
    font-style: normal;
    font-weight: normal !important;
    vertical-align: top;
}

.vdm-001-rosace:before {
    content: "\f101";
}
.vdm-002-recherche:before {
    content: "\f102";
}
.vdm-003-profil:before {
    content: "\f103";
}
.vdm-004-drapeau:before {
    content: "\f104";
}
.vdm-005-calendrier:before {
    content: "\f105";
}
.vdm-006-soleil:before {
    content: "\f106";
}
.vdm-007-billet:before {
    content: "\f107";
}
.vdm-008-oeil:before {
    content: "\f108";
}
.vdm-009-personnes:before {
    content: "\f109";
}
.vdm-010-porte-document:before {
    content: "\f10a";
}
.vdm-011-bus:before {
    content: "\f10b";
}
.vdm-012-telephone:before {
    content: "\f10c";
}
.vdm-013-livre:before {
    content: "\f10d";
}
.vdm-014-lecture:before {
    content: "\f10e";
}
.vdm-015-fleche:before {
    content: "\f10f";
}
.vdm-016-actualite:before {
    content: "\f110";
}
.vdm-017-localisation-etoile:before {
    content: "\f111";
}
.vdm-018-permis:before {
    content: "\f112";
}
.vdm-019-document:before {
    content: "\f113";
}
.vdm-020-carte-de-credit:before {
    content: "\f114";
}
.vdm-021-dossier:before {
    content: "\f115";
}
.vdm-022-cloche:before {
    content: "\f116";
}
.vdm-023-parametres:before {
    content: "\f117";
}
.vdm-024-plus-circulaire:before {
    content: "\f118";
}
.vdm-025-moins-circulaire:before {
    content: "\f119";
}
.vdm-026-coche-etapes:before {
    content: "\f11a";
}
.vdm-027-3-points-circulaire:before {
    content: "\f11b";
}
.vdm-028-enveloppe:before {
    content: "\f11c";
}
.vdm-029-ajout-dossier:before {
    content: "\f11d";
}
.vdm-030-attention:before {
    content: "\f11e";
}
.vdm-031-ordinateur:before {
    content: "\f11f";
}
.vdm-032-ecrou:before {
    content: "\f120";
}
.vdm-033-crayon:before {
    content: "\f121";
}
.vdm-034-ampoule:before {
    content: "\f122";
}
.vdm-035-plume:before {
    content: "\f123";
}
.vdm-036-attention-circulaire:before {
    content: "\f124";
}
.vdm-037-horloge:before {
    content: "\f125";
}
.vdm-038-cible:before {
    content: "\f126";
}
.vdm-039-balai:before {
    content: "\f127";
}
.vdm-040-permis-generique:before {
    content: "\f128";
}
.vdm-041-fleche-circulaire-haut:before {
    content: "\f129";
}
.vdm-042-fleche-circulaire-droite:before {
    content: "\f12a";
}
.vdm-043-fleche-circulaire-bas:before {
    content: "\f12b";
}
.vdm-044-fleche-circulaire-gauche:before {
    content: "\f12c";
}
.vdm-045-maison:before {
    content: "\f12d";
}
.vdm-046-grand-x:before {
    content: "\f12e";
}
.vdm-047-cercle-progression-complet:before {
    content: "\f12f";
}
.vdm-048-cercle-progression-a:before {
    content: "\f130";
}
.vdm-049-cercle-progression-ab:before {
    content: "\f131";
}
.vdm-050-cercle-progression-abc:before {
    content: "\f132";
}
.vdm-051-cercle-progression-c:before {
    content: "\f133";
}
.vdm-052-cercle-progression-bc:before {
    content: "\f134";
}
.vdm-053-cercle-progression-coche:before {
    content: "\f135";
}
.vdm-054-cercle-progression-dossier:before {
    content: "\f136";
}
.vdm-055-chevron-haut:before {
    content: "\f137";
}
.vdm-056-chevron-droite:before {
    content: "\f138";
}
.vdm-057-chevron-bas:before {
    content: "\f139";
}
.vdm-058-chevron-gauche:before {
    content: "\f13a";
}
.vdm-059-coche-circulaire:before {
    content: "\f13b";
}
.vdm-060-menu:before {
    content: "\f13c";
}
.vdm-061-localisation-plein:before {
    content: "\f13d";
}
.vdm-062-fleche-haut:before {
    content: "\f13e";
}
.vdm-063-fleche-droite:before {
    content: "\f13f";
}
.vdm-064-fleche-bas:before {
    content: "\f140";
}
.vdm-065-fleche-gauche:before {
    content: "\f141";
}
.vdm-066-mini-plus:before {
    content: "\f142";
}
.vdm-067-mini-moins:before {
    content: "\f143";
}
.vdm-068-mini-x:before {
    content: "\f144";
}
.vdm-069-mini-plus-circulaire:before {
    content: "\f145";
}
.vdm-070-mini-moins-circulaire:before {
    content: "\f146";
}
.vdm-071-mini-x-circulaire:before {
    content: "\f147";
}
.vdm-072-mini-plus-circulaire-plein:before {
    content: "\f148";
}
.vdm-073-mini-moins-circulaire-plein:before {
    content: "\f149";
}
.vdm-074-mini-x-circulaire-plein:before {
    content: "\f14a";
}
.vdm-075-mini-case-coche:before {
    content: "\f14b";
}
.vdm-076-mini-case-coche-vide:before {
    content: "\f14c";
}
.vdm-077-mini-case-coche-coche:before {
    content: "\f14d";
}
.vdm-078-mini-case-coche-plein:before {
    content: "\f14e";
}
.vdm-079-dechets-et-recyclage:before {
    content: "\f14f";
}
.vdm-080-recyclage:before {
    content: "\f150";
}
.vdm-081-compostage:before {
    content: "\f151";
}
.vdm-082-residus-verts:before {
    content: "\f152";
}
.vdm-083-permis-animal-chien:before {
    content: "\f153";
}
.vdm-084-nid-de-poule:before {
    content: "\f154";
}
.vdm-085-lampadaire:before {
    content: "\f155";
}
.vdm-086-graffiti:before {
    content: "\f156";
}
.vdm-087-banc-de-parc:before {
    content: "\f157";
}
.vdm-088-branches-d-arbre:before {
    content: "\f158";
}
.vdm-089-travaux-routiers:before {
    content: "\f159";
}
.vdm-090-preferences:before {
    content: "\f15a";
}
.vdm-091-localisation:before {
    content: "\f15b";
}
.vdm-092-question:before {
    content: "\f15c";
}
.vdm-093-porte-voix:before {
    content: "\f15d";
}
.vdm-094-permis-stationnement:before {
    content: "\f15e";
}
.vdm-095-deneigement:before {
    content: "\f15f";
}
.vdm-096-permis-animal-chat:before {
    content: "\f160";
}
.vdm-097-social-instagram:before {
    content: "\f161";
}
.vdm-098-social-linkedin:before {
    content: "\f162";
}
.vdm-099-social-twitter:before {
    content: "\f163";
}
.vdm-100-social-youtube:before {
    content: "\f164";
}
.vdm-101-social-facebook:before {
    content: "\f165";
}
.vdm-102-social-gplus:before {
    content: "\f166";
}
.vdm-103-311-mobile:before {
    content: "\f167";
}
.vdm-104-permis-animal-generique:before {
    content: "\f168";
}
.vdm-105-petition:before {
    content: "\f169";
}
.vdm-106-menu-simple:before {
    content: "\f16a";
}
.vdm-107-excavatrice:before {
    content: "\f16b";
}
.vdm-108-usine:before {
    content: "\f16c";
}
.vdm-109-profil-sourire:before {
    content: "\f16d";
}
.vdm-110-profil-connecte:before {
    content: "\f16e";
}
.vdm-111-quitter:before {
    content: "\f16f";
}
.vdm-112-lien-externe:before {
    content: "\f170";
}
.vdm-113-prix:before {
    content: "\f171";
}
.vdm-114-telecopieur:before {
    content: "\f172";
}
.vdm-115-glissant:before {
    content: "\f173";
}
.vdm-116-signalisation:before {
    content: "\f174";
}
.vdm-117-lien-externe-lg:before {
    content: "\f175";
}
.vdm-118-mini-cercle-coche-plein:before {
    content: "\f176";
}
.vdm-119-grand-x-circulaire:before {
    content: "\f177";
}
.vdm-120-sports:before {
    content: "\f178";
}
.vdm-121-sapin:before {
    content: "\f179";
}
.vdm-122-terrain-sport:before {
    content: "\f17a";
}
